# Section 10 Pyspark

##### PySpark Overview, Setup, starting first spark session

In [2]:
!python --version

Python 3.13.3

In [3]:
!python --version

Python 3.13.3

In [4]:
!pip --version

pip 25.1.1 from C:\Users\saad\AppData\Roaming\Python\Python313\site-packages\pip (python 3.13)

In [6]:
#!pip install findspark
#!pip install pyspark

#### Return

In [7]:
1>0

True

In [8]:
[1>0, 1<0, 1==0]

[True, False, False]

In [9]:
mylist = [1,2,3,4,5]

In [11]:
import numpy as np

In [12]:
myarray = np.array([1,2,3,4,5])

In [13]:
myarray

array([1, 2, 3, 4, 5])

In [14]:
myarray > 2

array([False, False,  True,  True,  True])

### PySpark Overview

In [15]:
from pyspark.sql import SparkSession

In [49]:
!pip show pyspark

Name: pyspark
Version: 3.5.5
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: C:\Users\saad\AppData\Roaming\Python\Python313\site-packages
Requires: py4j
Required-by:

In [ ]:
#C:\python311\Lib\site-packages\pyspark

In [26]:
import findspark
findspark.init(r'C:\Users\saad\AppData\Roaming\Python\Python313\site-packages\pyspark')

In [27]:
spark = SparkSession.builder.getOrCreate()

In [28]:
data = [1,2,3,4,5]
rdd = spark.sparkContext.parallelize(data)

In [29]:
print(rdd.collect())

[1, 2, 3, 4, 5]

In [30]:
rdddata = rdd.collect()

In [31]:
type(rdddata)

list

In [32]:
type(rdd)

pyspark.rdd.RDD

In [34]:
2 * rdddata

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### pyspark dataframes

In [35]:
from pyspark.sql import SparkSession

In [36]:
spark = SparkSession.builder.appName('demo').getOrCreate()

In [37]:
my_list = [10, 20, 30, 40, 50]

In [38]:
#Convert to a df with single column values:
df = spark.createDataFrame([(x, ) for x in my_list], ['Values'])

In [39]:
df

DataFrame[Values: bigint]

In [40]:
type(df)

pyspark.sql.dataframe.DataFrame

In [41]:
df.show()

+------+
|Values|
+------+
|    10|
|    20|
|    30|
|    40|
|    50|
+------+

In [44]:
df.printSchema()

root
 |-- Values: long (nullable = true)

In [45]:
df.columns

['Values']

In [47]:
df.describe()

DataFrame[summary: string, Values: string]

In [48]:
df.describe().show()

+-------+------------------+
|summary|            Values|
+-------+------------------+
|  count|                 5|
|   mean|              30.0|
| stddev|15.811388300841896|
|    min|                10|
|    max|                50|
+-------+------------------+

In [51]:
df.show(3)

+------+
|Values|
+------+
|    10|
|    20|
|    30|
+------+
only showing top 3 rows

# Section 10 02 PySpark DataFrames Basics (CSV, Lists, etc)

In [52]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [54]:
import findspark
findspark.init(r'C:\python311\Lib\site-packages\pyspark')

In [55]:
# Initialize Spark session
spark = SparkSession.builder.appName("Intc Stock Analysis").getOrCreate()

In [58]:
!dir

 Volume in drive C is OS
 Volume Serial Number is 6009-5BDF

 Directory of c:\saad\workspace\numpy_pandas_Pyspark_tutorials\numpy

06/08/2025  04:44 PM    <DIR>          .
06/08/2025  04:32 PM    <DIR>          ..
06/08/2025  02:08 PM    <DIR>          .ipynb_checkpoints
05/14/2025  09:01 AM               271 1-Friendly course.txt
05/22/2025  05:35 PM             3,677 jupyterDemo.ipynb
06/01/2025  02:23 PM           242,452 Numpy001.ipynb
06/03/2025  10:13 PM            60,558 NumPy002.ipynb
06/03/2025  10:13 PM            79,338 NumPy003.ipynb
06/03/2025  10:13 PM            71,478 NumPy004.ipynb
06/04/2025  05:00 PM            24,215 NumPy005.ipynb
06/07/2025  02:13 PM            93,714 NumPy006.ipynb
06/07/2025  03:28 PM            54,184 NumPy007.ipynb
06/07/2025  06:33 PM            23,739 NumPy008.ipynb
05/22/2025  05:39 PM            32,176 numpyTutorials.ipynb
06/08/2025  04:44 PM            13,572 PySpark001.ipynb
06/03/2025  04:05 PM           176,728 python101.ipynb
06/08/2025  08:20 AM            17,730 python101_09.ipynb
06/07/2025  02:08 PM           153,642 python101_2.ipynb
05/22/2025  06:08 PM               617 Section02_NumPy.ipynb
05/21/2025  03:41 PM               617 Untitled.ipynb
05/22/2025  06:04 PM               337 Untitled1.ipynb
05/26/2025  04:08 PM               337 Untitled2.ipynb
06/07/2025  02:14 PM            16,966 Untitled3.ipynb
              20 File(s)      1,066,348 bytes
               3 Dir(s)  38,493,536,256 bytes free

In [59]:
df = spark.read.csv('../pyspark/intc.csv', header=True, inferSchema=True)

In [60]:
df.show(20)

+----+----------+------+-------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+
|  id|      date|  open|   high|    low|close|     volume|     vol_fiat|             sma10|             sma20|             sma30|             sma50|            sma100|            sma200|            sma400|            sma500|           sma1000|ema10|ema20|ema30|ema50|ema100|ema200|ema400|ema500|ema1000|      macd1|macd2|macd3|macd4|
+----+----------+------+-------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+
|1278|2025-06-06| 20.17|  20.44|  20.03|20.06|7.0072846E7|1749240000000|            20.462|20.676499999999997|            20.456|           21.1798|21.120500000000003|22.942600000000002|           31.0254|31.321240000000003|37.588480000000004|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.04534034|    0|    0|    0|
|1277|2025-06-05| 20.27|  20.55|  19.85|19.99|7.2595606E7|1749153600000|            20.611|            20.699|            20.505|21.253200000000003|21.156399999999998|          22.99775|31.061574999999998|          31.33984|          37.63046|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.04716657|    0|    0|    0|
|1275|2025-06-04| 20.34|   20.5|  20.01|20.25|7.1166549E7|1749067200000|            20.764|            20.702|20.442999999999998|           21.3152|           21.2052|23.050900000000002|31.097375000000003|          31.35792|          37.67395|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.03510595|    0|    0|    0|
|1273|2025-06-02|19.482|  19.82|19.3745|19.74|6.7885473E7|1748894400000|            20.957|20.764000000000003|20.420333333333335|           21.3806|           21.2477|23.102800000000002|           31.1308|          31.37368|          37.71933|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.03566972|    0|    0|    0|
|1271|2025-05-29| 20.54| 20.595|   20.1|20.25|6.6485207E7|1748548800000|            21.125|           20.8065|            20.424|           21.4712|           21.2947|23.159000000000002|         31.164575|31.391119999999997|37.763349999999996|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.02194437|    0|    0|    0|
|1269|2025-05-27| 20.44|  20.67|  20.18|20.55|6.9504564E7|1748376000000|              21.2|           20.7695| 20.48166666666667|            21.588|           21.3323|             23.21|         31.195425|31.408939999999998|37.806824999999996|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.06357569|    0|    0|    0|
|1267|2025-05-23| 20.16|  20.27|  19.94|20.05|6.8206064E7|1748030400000|            21.176|            20.684| 20.55366666666667|21.691399999999998|           21.3688|          23.25955|            31.229|          31.42746|         37.852055|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.09768697|    0|    0|    0|
|1265|2025-05-21| 21.19|21.6292|  20.59|20.69|6.2904697E7|1747857600000|            21.165|            20.643|20.642333333333333|           21.8382|21.416700000000002|           23.3131|31.261100000000003|          31.44418|         37.896785|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.19863315|    0|    0|    0|
|1263|2025-05-19| 21.18|  21.56|  21.05|21.38|6.4279077E7|1747684800000|21.122999999999998|20.624000000000002|20.733333333333334|           21.8964|           21.4533|23.364250000000002|         31.292225|          31.45882|37.939885000000004|    0|    0|    0|    0|     0|     0|     0|     0|      0|  0.2820511|    0|    0|    0|
|1262|2025-05-16| 21.53|  21.76|  21.35|21.66|5.5795144E7|1747425600000|            21.047|            20.542|20.827333333333335|           21.8882|           21.4898|           23.4119|          31.32065|          31.46996|         37.981405|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.32615818|    0|    0|    0|
|1260|2025-05-15| 21.23|  21.63| 21.185|21.55|6.6705457E7|1747339200000|            20.891|            20.453|20.912666666666667|           21.8504|21.522399999999998|           23.4573|          31.34795|31.481080000000002|         38.023055|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.33536202|    0|    0|    0|
|1259|2025-05-14| 22.35|  22.46|  21.46|21.52|9.1584827E7|1747252800000|            20.787|            20.452|            21.003|21.801399999999997|21.557399999999998|23.501649999999998|           31.3779|          31.49086|         38.063755|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.35168588|    0|    0|    0|
|1257|2025-05-12| 22.18|  22.67|  21.88|22.18|9.4578691E7|1747080000000|             20.64|           20.2825|21.084333333333333|            21.764|21.604200000000002|          23.54795|         31.411025|31.499779999999998|         38.104905|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.36162191|    0|    0|    0|
|1256|2025-05-09|  21.2|  21.45|  20.83|21.42|5.1768565E7|1746820800000|            20.571|            20.152|            21.149|           21.7062|           21.6329|           23.5872|         31.444775|          31.50648|38.142574999999994|    0|    0|    0|    0|     0|     0|     0|     0|      0|  0.2845669|    0|    0|    0|
|1254|2025-05-08| 21.01|  21.24|  20.64| 21.0|7.1651698E7|1746734400000|            20.488|20.073500000000003|21.291333333333334|21.665399999999998|           21.6439|          23.63155|          31.47845|          31.51562|         38.181895|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.24328622|    0|    0|    0|
|1253|2025-05-07| 19.97|  20.37|  19.82|20.31|6.1134293E7|1746648000000|20.339000000000002|           20.1225|21.392999999999997|            21.634|           21.6659|23.680799999999998|31.512649999999997|31.526419999999998|         38.219225|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.17561901|    0|    0|    0|
|1251|2025-05-06| 19.92|  20.12|  19.77|19.94|5.1330772E7|1746561600000|            20.192|           20.2425| 21.40533333333333|            21.628|           21.6858|           23.7302|31.547575000000002|           31.5382|38.258815000000006|    0|    0|    0|    0|     0|     0|     0|     0|      0|   0.142305|    0|    0|    0|
|1249|2025-05-05| 20.39|  20.58| 20.235|20.27|4.4236981E7|1746475200000|20.121000000000002|            20.381|21.404999999999998|21.624200000000002|           21.7154|23.781149999999997|31.585275000000003|          31.54898|         38.300115|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.13379158|    0|    0|    0|
|1247|2025-05-02| 20.26|  20.78|  20.21|20.62|6.3298512E7|1746216000000|            20.125|           20.5385|            21.421|           21.6148|           21.7419|           23.8334|         31.622675|           31.5583|         38.342725|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.10969692|    0|    0|    0|
|1245|2025-04-30| 19.71|  20.18|  19.55| 20.1|6.8297323E7|1746043200000|            20.037|           20.7175|21.427333333333333|           21.6082|           21.7625|           23.8807|           31.6583|31.566860000000002|         38.382885|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.05382576|    0|    0|    0|
+----+----------+------+-------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+
only showing top 20 rows

In [62]:
#Very important for ETL/MachineLearning/Data analysis ...
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: double (nullable = true)
 |-- vol_fiat: long (nullable = true)
 |-- sma10: double (nullable = true)
 |-- sma20: double (nullable = true)
 |-- sma30: double (nullable = true)
 |-- sma50: double (nullable = true)
 |-- sma100: double (nullable = true)
 |-- sma200: double (nullable = true)
 |-- sma400: double (nullable = true)
 |-- sma500: double (nullable = true)
 |-- sma1000: double (nullable = true)
 |-- ema10: integer (nullable = true)
 |-- ema20: integer (nullable = true)
 |-- ema30: integer (nullable = true)
 |-- ema50: integer (nullable = true)
 |-- ema100: integer (nullable = true)
 |-- ema200: integer (nullable = true)
 |-- ema400: integer (nullable = true)
 |-- ema500: integer (nullable = true)
 |-- ema1000: integer (nullable = true)
 |-- macd1: double (nullable = true)
 |-- macd2: integer (nullable = true)
 |-- macd3: integer (nullable = true)
 |-- macd4: integer (nullable = true)

In [63]:
df.count()

365

In [64]:
df.columns

['id',
 'date',
 'open',
 'high',
 'low',
 'close',
 'volume',
 'vol_fiat',
 'sma10',
 'sma20',
 'sma30',
 'sma50',
 'sma100',
 'sma200',
 'sma400',
 'sma500',
 'sma1000',
 'ema10',
 'ema20',
 'ema30',
 'ema50',
 'ema100',
 'ema200',
 'ema400',
 'ema500',
 'ema1000',
 'macd1',
 'macd2',
 'macd3',
 'macd4']

In [65]:
df.describe().show()

+-------+------------------+------------------+-----------------+-----------------+------------------+-------------------+--------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+--------------------+-----+-----+-----+
|summary|                id|              open|             high|              low|             close|             volume|            vol_fiat|             sma10|             sma20|            sma30|             sma50|            sma100|           sma200|           sma400|            sma500|           sma1000|ema10|ema20|ema30|ema50|ema100|ema200|ema400|ema500|ema1000|               macd1|macd2|macd3|macd4|
+-------+------------------+------------------+-----------------+-----------------+------------------+-------------------+--------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+--------------------+-----+-----+-----+
|  count|               365|               365|              365|              365|               365|                365|                 365|               365|               365|              365|               365|               365|              365|              365|               365|               365|  365|  365|  365|  365|   365|   365|   365|   365|    365|                 365|  365|  365|  365|
|   mean|  955.745205479452|30.550282465753437|31.03574410958903|30.03972109589041|30.518465753424653|6.395917749315068E7|1.722110695890411E12|30.156665753424676| 30.35426438356166|30.55397808219178|30.972262465753438|31.870383013698625|33.20514602739728| 33.2945426369863|  33.7990721369863| 6.155014410958905|  0.0|  0.0|  0.0|  0.0|   0.0|   0.0|   0.0|   0.0|    0.0|3.436349863013923E-4|  0.0|  0.0|  0.0|
| stddev|177.07880923933226| 9.765712105679263|9.841872916866874|9.699143296968593| 9.785523584123894| 3.92204953418809E7|1.459527903149367...|10.184997215418475|10.056174605470304|9.908240800629272| 9.629487425384989| 8.837998056427985|6.574857651795838|4.037219421280364| 4.418542603012515|14.182412134120947|  0.0|  0.0|  0.0|  0.0|   0.0|   0.0|   0.0|   0.0|    0.0| 0.39823641149581507|  0.0|  0.0|  0.0|
|    min|               698|             18.07|           18.985|           17.665|             18.13|        1.2907105E7|       1697832000000|               0.0|               0.0|              0.0|               0.0|               0.0|              0.0|              0.0|               0.0|               0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|          -1.6735102|    0|    0|    0|
|    max|              1278|              50.3|          50.5699|            49.77|              50.5|       3.00503098E8|       1749240000000|48.132999999999996|           47.9925|           47.106|45.632600000000004|           44.1179|          39.7361|          34.9275|37.564949999999996|          39.72781|    0|    0|    0|    0|     0|     0|     0|     0|      0|          0.79205208|    0|    0|    0|
+-------+------------------+------------------+-----------------+-----------------+------------------+-------------------+--------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+--------------------+-----+-----+-----+

### Selecting columns

In [66]:
df.select("id", "date", "close", 'macd1').show(10)

+----+----------+-----+-----------+
|  id|      date|close|      macd1|
+----+----------+-----+-----------+
|1278|2025-06-06|20.06|-0.04534034|
|1277|2025-06-05|19.99|-0.04716657|
|1275|2025-06-04|20.25|-0.03510595|
|1273|2025-06-02|19.74|-0.03566972|
|1271|2025-05-29|20.25| 0.02194437|
|1269|2025-05-27|20.55| 0.06357569|
|1267|2025-05-23|20.05| 0.09768697|
|1265|2025-05-21|20.69| 0.19863315|
|1263|2025-05-19|21.38|  0.2820511|
|1262|2025-05-16|21.66| 0.32615818|
+----+----------+-----+-----------+
only showing top 10 rows

In [67]:
print(df.select(min('macd1')).collect()[0][0])

-1.6735102

In [68]:
print(df.select(min('close')).collect()[0][0])

18.13

### Filtering

In [76]:
df.filter(col("Close") > 20).select("Date", "Close",  "macd1", "volume", "sma50", "sma200").show(20)

+----------+-----+-----------+------------+------------------+------------------+
|      Date|Close|      macd1|      volume|             sma50|            sma200|
+----------+-----+-----------+------------+------------------+------------------+
|2025-06-06|20.06|-0.04534034| 7.0072846E7|           21.1798|22.942600000000002|
|2025-06-04|20.25|-0.03510595| 7.1166549E7|           21.3152|23.050900000000002|
|2025-05-29|20.25| 0.02194437| 6.6485207E7|           21.4712|23.159000000000002|
|2025-05-27|20.55| 0.06357569| 6.9504564E7|            21.588|             23.21|
|2025-05-23|20.05| 0.09768697| 6.8206064E7|21.691399999999998|          23.25955|
|2025-05-21|20.69| 0.19863315| 6.2904697E7|           21.8382|           23.3131|
|2025-05-19|21.38|  0.2820511| 6.4279077E7|           21.8964|23.364250000000002|
|2025-05-16|21.66| 0.32615818| 5.5795144E7|           21.8882|           23.4119|
|2025-05-15|21.55| 0.33536202| 6.6705457E7|           21.8504|           23.4573|
|2025-05-14|21.52| 0.35168588| 9.1584827E7|21.801399999999997|23.501649999999998|
|2025-05-12|22.18| 0.36162191| 9.4578691E7|            21.764|          23.54795|
|2025-05-09|21.42|  0.2845669| 5.1768565E7|           21.7062|           23.5872|
|2025-05-08| 21.0| 0.24328622| 7.1651698E7|21.665399999999998|          23.63155|
|2025-05-07|20.31| 0.17561901| 6.1134293E7|            21.634|23.680799999999998|
|2025-05-05|20.27| 0.13379158| 4.4236981E7|21.624200000000002|23.781149999999997|
|2025-05-02|20.62| 0.10969692| 6.3298512E7|           21.6148|           23.8334|
|2025-04-30| 20.1| 0.05382576| 6.8297323E7|           21.6082|           23.8807|
|2025-04-28|20.51| 0.03188856| 9.6624416E7|           21.6228|           23.9373|
|2025-04-25|20.05|-0.02283246|1.47703174E8|21.644000000000002|          23.99345|
|2025-04-24|21.49|-0.04007492| 1.1708622E8|           21.6802|           24.0537|
+----------+-----+-----------+------------+------------------+------------------+
only showing top 20 rows

In [78]:
df.where("Close > 20").select("Date", "Close").show(20)

+----------+-----+
|      Date|Close|
+----------+-----+
|2025-06-06|20.06|
|2025-06-04|20.25|
|2025-05-29|20.25|
|2025-05-27|20.55|
|2025-05-23|20.05|
|2025-05-21|20.69|
|2025-05-19|21.38|
|2025-05-16|21.66|
|2025-05-15|21.55|
|2025-05-14|21.52|
|2025-05-12|22.18|
|2025-05-09|21.42|
|2025-05-08| 21.0|
|2025-05-07|20.31|
|2025-05-05|20.27|
|2025-05-02|20.62|
|2025-04-30| 20.1|
|2025-04-28|20.51|
|2025-04-25|20.05|
|2025-04-24|21.49|
+----------+-----+
only showing top 20 rows

In [79]:
# Adding new columns

In [80]:
df = df.withColumn("Daily_Return", (col("Close") - col("Open")) / col("Open"))

In [82]:
df.select("Date", "open",  "Close", "Daily_Return").show(50)

+----------+------+-----+--------------------+
|      Date|  open|Close|        Daily_Return|
+----------+------+-----+--------------------+
|2025-06-06| 20.17|20.06|-0.00545364402578101|
|2025-06-05| 20.27|19.99|-0.01381351751356...|
|2025-06-04| 20.34|20.25|-0.00442477876106194|
|2025-06-02|19.482|19.74|0.013242993532491486|
|2025-05-29| 20.54|20.25|-0.01411879259980...|
|2025-05-27| 20.44|20.55|0.005381604696673162|
|2025-05-23| 20.16|20.05|-0.00545634920634...|
|2025-05-21| 21.19|20.69|-0.02359603586597...|
|2025-05-19| 21.18|21.38|0.009442870632672299|
|2025-05-16| 21.53|21.66|0.006038086391082165|
|2025-05-15| 21.23|21.55|0.015073009891662754|
|2025-05-14| 22.35|21.52|-0.03713646532438487|
|2025-05-12| 22.18|22.18|                 0.0|
|2025-05-09|  21.2|21.42|0.010377358490566152|
|2025-05-08| 21.01| 21.0|-4.75963826749241...|
|2025-05-07| 19.97|20.31|0.017025538307461185|
|2025-05-06| 19.92|19.94|0.001004016064257...|
|2025-05-05| 20.39|20.27|-0.00588523786169...|
|2025-05-02| 20.26|20.62|0.017769002961500465|
|2025-04-30| 19.71| 20.1| 0.01978691019786913|
|2025-04-28| 20.12|20.51|  0.0193836978131213|
|2025-04-25| 19.73|20.05|0.016218955904713648|
|2025-04-24|21.035|21.49| 0.02163061564059892|
|2025-04-23|20.715|20.59|-0.00603427468018...|
|2025-04-22|19.055|19.51| 0.02387824717921815|
|2025-04-21| 18.93|18.84|-0.00475435816164817|
|2025-04-16| 19.34|19.23|-0.00568769389865...|
|2025-04-14| 20.59|20.31|-0.01359883438562...|
|2025-04-11|19.245|19.74|0.025720966484801114|
|2025-04-10|20.675|19.88|-0.03845223700120927|
|2025-04-09| 18.07|21.53| 0.19147758716104044|
|2025-04-08| 20.06|18.13|-0.09621136590229311|
|2025-04-07| 19.14|19.57|0.022466039707419002|
|2025-04-04|  21.7|19.85|-0.08525345622119807|
|2025-04-02| 21.89|21.98|0.004111466423024205|
|2025-03-31| 22.38|22.71| 0.01474530831099204|
|2025-03-28| 23.35|22.71|-0.02740899357601...|
|2025-03-26| 24.25|23.42|-0.03422680412371127|
|2025-03-25|24.175| 24.2|0.001034126163391875|
|2025-03-24|24.715|24.22|-0.02002832288084...|
|2025-03-21|  23.6|24.26|0.027966101694915257|
|2025-03-20| 23.77|23.96|0.007993268826251631|
|2025-03-19|  24.9|24.12|-0.03132530120481918|
|2025-03-17| 24.42|25.69|0.052006552006551986|
|2025-03-14|23.675|24.05| 0.01583949313621964|
|2025-03-12| 20.79|20.68|-0.00529100529100...|
|2025-03-10| 20.24|19.93|-0.01531620553359...|
|2025-03-06| 20.26|20.75| 0.02418558736426448|
|2025-03-05| 21.33|20.81|-0.02437880918893...|
|2025-03-03|  25.0|22.74|-0.09040000000000006|
+----------+------+-----+--------------------+
only showing top 50 rows

In [85]:
 df.agg(sum("Daily_return")).collect()[0][0]

-0.3487975309276584

### Grouping and Aggregations

In [87]:
#Monthly average closing price

In [90]:
df.groupBy(month("Date").alias("Month")).agg(avg("Close"). \
                        alias("Avg_Close")).orderBy("Month").show(20)

+-----+------------------+
|Month|         Avg_Close|
+-----+------------------+
|    1|34.951842105263154|
|    2|34.684999999999995|
|    3| 34.68371428571429|
|    4| 29.60184210526316|
|    5|26.685555555555553|
|    6| 28.80565217391304|
|    7| 32.63285714285714|
|    8| 20.81142857142857|
|    9| 21.15157894736842|
|   10|26.239259259259256|
|   11| 33.91027027027028|
|   12|            32.845|
+-----+------------------+

### Handling missing Data

In [91]:
df_clean = df.na.drop()
df_clean.show(20)

+----+----------+------+-------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+
|  id|      date|  open|   high|    low|close|     volume|     vol_fiat|             sma10|             sma20|             sma30|             sma50|            sma100|            sma200|            sma400|            sma500|           sma1000|ema10|ema20|ema30|ema50|ema100|ema200|ema400|ema500|ema1000|      macd1|macd2|macd3|macd4|        Daily_Return|
+----+----------+------+-------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+
|1278|2025-06-06| 20.17|  20.44|  20.03|20.06|7.0072846E7|1749240000000|            20.462|20.676499999999997|            20.456|           21.1798|21.120500000000003|22.942600000000002|           31.0254|31.321240000000003|37.588480000000004|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.04534034|    0|    0|    0|-0.00545364402578101|
|1277|2025-06-05| 20.27|  20.55|  19.85|19.99|7.2595606E7|1749153600000|            20.611|            20.699|            20.505|21.253200000000003|21.156399999999998|          22.99775|31.061574999999998|          31.33984|          37.63046|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.04716657|    0|    0|    0|-0.01381351751356...|
|1275|2025-06-04| 20.34|   20.5|  20.01|20.25|7.1166549E7|1749067200000|            20.764|            20.702|20.442999999999998|           21.3152|           21.2052|23.050900000000002|31.097375000000003|          31.35792|          37.67395|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.03510595|    0|    0|    0|-0.00442477876106194|
|1273|2025-06-02|19.482|  19.82|19.3745|19.74|6.7885473E7|1748894400000|            20.957|20.764000000000003|20.420333333333335|           21.3806|           21.2477|23.102800000000002|           31.1308|          31.37368|          37.71933|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.03566972|    0|    0|    0|0.013242993532491486|
|1271|2025-05-29| 20.54| 20.595|   20.1|20.25|6.6485207E7|1748548800000|            21.125|           20.8065|            20.424|           21.4712|           21.2947|23.159000000000002|         31.164575|31.391119999999997|37.763349999999996|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.02194437|    0|    0|    0|-0.01411879259980...|
|1269|2025-05-27| 20.44|  20.67|  20.18|20.55|6.9504564E7|1748376000000|              21.2|           20.7695| 20.48166666666667|            21.588|           21.3323|             23.21|         31.195425|31.408939999999998|37.806824999999996|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.06357569|    0|    0|    0|0.005381604696673162|
|1267|2025-05-23| 20.16|  20.27|  19.94|20.05|6.8206064E7|1748030400000|            21.176|            20.684| 20.55366666666667|21.691399999999998|           21.3688|          23.25955|            31.229|          31.42746|         37.852055|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.09768697|    0|    0|    0|-0.00545634920634...|
|1265|2025-05-21| 21.19|21.6292|  20.59|20.69|6.2904697E7|1747857600000|            21.165|            20.643|20.642333333333333|           21.8382|21.416700000000002|           23.3131|31.261100000000003|          31.44418|         37.896785|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.19863315|    0|    0|    0|-0.02359603586597...|
|1263|2025-05-19| 21.18|  21.56|  21.05|21.38|6.4279077E7|1747684800000|21.122999999999998|20.624000000000002|20.733333333333334|           21.8964|           21.4533|23.364250000000002|         31.292225|          31.45882|37.939885000000004|    0|    0|    0|    0|     0|     0|     0|     0|      0|  0.2820511|    0|    0|    0|0.009442870632672299|
|1262|2025-05-16| 21.53|  21.76|  21.35|21.66|5.5795144E7|1747425600000|            21.047|            20.542|20.827333333333335|           21.8882|           21.4898|           23.4119|          31.32065|          31.46996|         37.981405|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.32615818|    0|    0|    0|0.006038086391082165|
|1260|2025-05-15| 21.23|  21.63| 21.185|21.55|6.6705457E7|1747339200000|            20.891|            20.453|20.912666666666667|           21.8504|21.522399999999998|           23.4573|          31.34795|31.481080000000002|         38.023055|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.33536202|    0|    0|    0|0.015073009891662754|
|1259|2025-05-14| 22.35|  22.46|  21.46|21.52|9.1584827E7|1747252800000|            20.787|            20.452|            21.003|21.801399999999997|21.557399999999998|23.501649999999998|           31.3779|          31.49086|         38.063755|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.35168588|    0|    0|    0|-0.03713646532438487|
|1257|2025-05-12| 22.18|  22.67|  21.88|22.18|9.4578691E7|1747080000000|             20.64|           20.2825|21.084333333333333|            21.764|21.604200000000002|          23.54795|         31.411025|31.499779999999998|         38.104905|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.36162191|    0|    0|    0|                 0.0|
|1256|2025-05-09|  21.2|  21.45|  20.83|21.42|5.1768565E7|1746820800000|            20.571|            20.152|            21.149|           21.7062|           21.6329|           23.5872|         31.444775|          31.50648|38.142574999999994|    0|    0|    0|    0|     0|     0|     0|     0|      0|  0.2845669|    0|    0|    0|0.010377358490566152|
|1254|2025-05-08| 21.01|  21.24|  20.64| 21.0|7.1651698E7|1746734400000|            20.488|20.073500000000003|21.291333333333334|21.665399999999998|           21.6439|          23.63155|          31.47845|          31.51562|         38.181895|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.24328622|    0|    0|    0|-4.75963826749241...|
|1253|2025-05-07| 19.97|  20.37|  19.82|20.31|6.1134293E7|1746648000000|20.339000000000002|           20.1225|21.392999999999997|            21.634|           21.6659|23.680799999999998|31.512649999999997|31.526419999999998|         38.219225|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.17561901|    0|    0|    0|0.017025538307461185|
|1251|2025-05-06| 19.92|  20.12|  19.77|19.94|5.1330772E7|1746561600000|            20.192|           20.2425| 21.40533333333333|            21.628|           21.6858|           23.7302|31.547575000000002|           31.5382|38.258815000000006|    0|    0|    0|    0|     0|     0|     0|     0|      0|   0.142305|    0|    0|    0|0.001004016064257...|
|1249|2025-05-05| 20.39|  20.58| 20.235|20.27|4.4236981E7|1746475200000|20.121000000000002|            20.381|21.404999999999998|21.624200000000002|           21.7154|23.781149999999997|31.585275000000003|          31.54898|         38.300115|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.13379158|    0|    0|    0|-0.00588523786169...|
|1247|2025-05-02| 20.26|  20.78|  20.21|20.62|6.3298512E7|1746216000000|            20.125|           20.5385|            21.421|           21.6148|           21.7419|           23.8334|         31.622675|           31.5583|         38.342725|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.10969692|    0|    0|    0|0.017769002961500465|
|1245|2025-04-30| 19.71|  20.18|  19.55| 20.1|6.8297323E7|1746043200000|            20.037|           20.7175|21.427333333333333|           21.6082|           21.7625|           23.8807|           31.6583|31.566860000000002|         38.382885|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.05382576|    0|    0|    0| 0.01978691019786913|
+----+----------+------+-------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+
only showing top 20 rows

In [92]:
# fill nulls with mean
from pyspark.sql.functions import mean

In [93]:
mean_close = df.select(mean("Close")).collect()[0][0]
df_filled = df.na.fill(mean_close, subset = ["Close"])

In [94]:
df_filled.show(20)

+----+----------+------+-------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+
|  id|      date|  open|   high|    low|close|     volume|     vol_fiat|             sma10|             sma20|             sma30|             sma50|            sma100|            sma200|            sma400|            sma500|           sma1000|ema10|ema20|ema30|ema50|ema100|ema200|ema400|ema500|ema1000|      macd1|macd2|macd3|macd4|        Daily_Return|
+----+----------+------+-------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+
|1278|2025-06-06| 20.17|  20.44|  20.03|20.06|7.0072846E7|1749240000000|            20.462|20.676499999999997|            20.456|           21.1798|21.120500000000003|22.942600000000002|           31.0254|31.321240000000003|37.588480000000004|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.04534034|    0|    0|    0|-0.00545364402578101|
|1277|2025-06-05| 20.27|  20.55|  19.85|19.99|7.2595606E7|1749153600000|            20.611|            20.699|            20.505|21.253200000000003|21.156399999999998|          22.99775|31.061574999999998|          31.33984|          37.63046|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.04716657|    0|    0|    0|-0.01381351751356...|
|1275|2025-06-04| 20.34|   20.5|  20.01|20.25|7.1166549E7|1749067200000|            20.764|            20.702|20.442999999999998|           21.3152|           21.2052|23.050900000000002|31.097375000000003|          31.35792|          37.67395|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.03510595|    0|    0|    0|-0.00442477876106194|
|1273|2025-06-02|19.482|  19.82|19.3745|19.74|6.7885473E7|1748894400000|            20.957|20.764000000000003|20.420333333333335|           21.3806|           21.2477|23.102800000000002|           31.1308|          31.37368|          37.71933|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.03566972|    0|    0|    0|0.013242993532491486|
|1271|2025-05-29| 20.54| 20.595|   20.1|20.25|6.6485207E7|1748548800000|            21.125|           20.8065|            20.424|           21.4712|           21.2947|23.159000000000002|         31.164575|31.391119999999997|37.763349999999996|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.02194437|    0|    0|    0|-0.01411879259980...|
|1269|2025-05-27| 20.44|  20.67|  20.18|20.55|6.9504564E7|1748376000000|              21.2|           20.7695| 20.48166666666667|            21.588|           21.3323|             23.21|         31.195425|31.408939999999998|37.806824999999996|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.06357569|    0|    0|    0|0.005381604696673162|
|1267|2025-05-23| 20.16|  20.27|  19.94|20.05|6.8206064E7|1748030400000|            21.176|            20.684| 20.55366666666667|21.691399999999998|           21.3688|          23.25955|            31.229|          31.42746|         37.852055|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.09768697|    0|    0|    0|-0.00545634920634...|
|1265|2025-05-21| 21.19|21.6292|  20.59|20.69|6.2904697E7|1747857600000|            21.165|            20.643|20.642333333333333|           21.8382|21.416700000000002|           23.3131|31.261100000000003|          31.44418|         37.896785|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.19863315|    0|    0|    0|-0.02359603586597...|
|1263|2025-05-19| 21.18|  21.56|  21.05|21.38|6.4279077E7|1747684800000|21.122999999999998|20.624000000000002|20.733333333333334|           21.8964|           21.4533|23.364250000000002|         31.292225|          31.45882|37.939885000000004|    0|    0|    0|    0|     0|     0|     0|     0|      0|  0.2820511|    0|    0|    0|0.009442870632672299|
|1262|2025-05-16| 21.53|  21.76|  21.35|21.66|5.5795144E7|1747425600000|            21.047|            20.542|20.827333333333335|           21.8882|           21.4898|           23.4119|          31.32065|          31.46996|         37.981405|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.32615818|    0|    0|    0|0.006038086391082165|
|1260|2025-05-15| 21.23|  21.63| 21.185|21.55|6.6705457E7|1747339200000|            20.891|            20.453|20.912666666666667|           21.8504|21.522399999999998|           23.4573|          31.34795|31.481080000000002|         38.023055|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.33536202|    0|    0|    0|0.015073009891662754|
|1259|2025-05-14| 22.35|  22.46|  21.46|21.52|9.1584827E7|1747252800000|            20.787|            20.452|            21.003|21.801399999999997|21.557399999999998|23.501649999999998|           31.3779|          31.49086|         38.063755|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.35168588|    0|    0|    0|-0.03713646532438487|
|1257|2025-05-12| 22.18|  22.67|  21.88|22.18|9.4578691E7|1747080000000|             20.64|           20.2825|21.084333333333333|            21.764|21.604200000000002|          23.54795|         31.411025|31.499779999999998|         38.104905|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.36162191|    0|    0|    0|                 0.0|
|1256|2025-05-09|  21.2|  21.45|  20.83|21.42|5.1768565E7|1746820800000|            20.571|            20.152|            21.149|           21.7062|           21.6329|           23.5872|         31.444775|          31.50648|38.142574999999994|    0|    0|    0|    0|     0|     0|     0|     0|      0|  0.2845669|    0|    0|    0|0.010377358490566152|
|1254|2025-05-08| 21.01|  21.24|  20.64| 21.0|7.1651698E7|1746734400000|            20.488|20.073500000000003|21.291333333333334|21.665399999999998|           21.6439|          23.63155|          31.47845|          31.51562|         38.181895|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.24328622|    0|    0|    0|-4.75963826749241...|
|1253|2025-05-07| 19.97|  20.37|  19.82|20.31|6.1134293E7|1746648000000|20.339000000000002|           20.1225|21.392999999999997|            21.634|           21.6659|23.680799999999998|31.512649999999997|31.526419999999998|         38.219225|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.17561901|    0|    0|    0|0.017025538307461185|
|1251|2025-05-06| 19.92|  20.12|  19.77|19.94|5.1330772E7|1746561600000|            20.192|           20.2425| 21.40533333333333|            21.628|           21.6858|           23.7302|31.547575000000002|           31.5382|38.258815000000006|    0|    0|    0|    0|     0|     0|     0|     0|      0|   0.142305|    0|    0|    0|0.001004016064257...|
|1249|2025-05-05| 20.39|  20.58| 20.235|20.27|4.4236981E7|1746475200000|20.121000000000002|            20.381|21.404999999999998|21.624200000000002|           21.7154|23.781149999999997|31.585275000000003|          31.54898|         38.300115|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.13379158|    0|    0|    0|-0.00588523786169...|
|1247|2025-05-02| 20.26|  20.78|  20.21|20.62|6.3298512E7|1746216000000|            20.125|           20.5385|            21.421|           21.6148|           21.7419|           23.8334|         31.622675|           31.5583|         38.342725|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.10969692|    0|    0|    0|0.017769002961500465|
|1245|2025-04-30| 19.71|  20.18|  19.55| 20.1|6.8297323E7|1746043200000|            20.037|           20.7175|21.427333333333333|           21.6082|           21.7625|           23.8807|           31.6583|31.566860000000002|         38.382885|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.05382576|    0|    0|    0| 0.01978691019786913|
+----+----------+------+-------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+
only showing top 20 rows

In [95]:
min_close = df.select(min("Close")).collect()[0][0]

In [96]:
min_close

18.13

In [97]:
mean_close

30.518465753424653

### Advanced Techniques:

In [100]:
# Windows functions
from pyspark.sql.window import Window
window_spec = Window.orderBy("Date").rowsBetween(-27, 0)
df = df.withColumn("27Day_MA", avg("Close").over(window_spec))

In [101]:
df.show(5)

+---+----------+-----+-----+------+-----+-----------+-------------+------------------+------------------+-----------------+-------+------------------+------------------+----------+------------------+-------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+------------------+------------------+
| id|      date| open| high|   low|close|     volume|     vol_fiat|             sma10|             sma20|            sma30|  sma50|            sma100|            sma200|    sma400|            sma500|sma1000|ema10|ema20|ema30|ema50|ema100|ema200|ema400|ema500|ema1000|      macd1|macd2|macd3|macd4|        Daily_Return|           7Day_MA|          27Day_MA|
+---+----------+-----+-----+------+-----+-----------+-------------+------------------+------------------+-----------------+-------+------------------+------------------+----------+------------------+-------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+------------------+------------------+
|698|2023-10-20|35.65|36.28| 34.87|34.92|3.2303325E7|1697832000000|            36.103|           35.6825|36.14033333333334| 35.567|34.458800000000004|31.644000000000002|34.2888875|37.564949999999996|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.06714202|    0|    0|    0|-0.02047685834502095|             34.92|             34.92|
|699|2023-10-23| 34.6|35.19| 33.39|33.85|5.3924661E7|1698091200000|            35.882|           35.6605|35.98233333333334|35.5462|34.494499999999995|           31.6775|34.2513375|          37.52429|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| -0.1609627|    0|    0|    0|-0.02167630057803468|34.385000000000005|34.385000000000005|
|700|2023-10-24|33.64|34.71| 33.64|34.59|5.2673857E7|1698177600000|            35.698|           35.6985|            35.84|35.5244|34.545300000000005|          31.71585|34.2179875|          37.48585|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.16319102|    0|    0|    0| 0.02824019024970282| 34.45333333333334| 34.45333333333334|
|701|2023-10-25|34.18|34.45| 32.55|32.83|4.4658462E7|1698264000000|            35.293|35.609500000000004|           35.644|35.4856|34.583600000000004|          31.74605|34.1798875|          37.44463|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.25736174|    0|    0|    0|-0.03949678174370981|           34.0475|           34.0475|
|702|2023-10-26|32.89|33.22|32.145|32.52|5.9049509E7|1698350400000|34.861000000000004|           35.4765|           35.439|35.4654|           34.6348|          31.77645|34.1419875|          37.40533|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.31912054|    0|    0|    0|-0.01124961994527...|33.742000000000004|33.742000000000004|
+---+----------+-----+-----+------+-----+-----------+-------------+------------------+------------------+-----------------+-------+------------------+------------------+----------+------------------+-------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+------------------+------------------+
only showing top 5 rows

In [102]:
df.select("id", "date", "close", 'macd1', "7Day_MA").show(20)

+---+----------+-----+-----------+------------------+
| id|      date|close|      macd1|           7Day_MA|
+---+----------+-----+-----------+------------------+
|698|2023-10-20|34.92|-0.06714202|             34.92|
|699|2023-10-23|33.85| -0.1609627|34.385000000000005|
|700|2023-10-24|34.59|-0.16319102| 34.45333333333334|
|701|2023-10-25|32.83|-0.25736174|           34.0475|
|702|2023-10-26|32.52|-0.31912054|33.742000000000004|
|703|2023-10-27|35.54| -0.1429245|34.041666666666664|
|704|2023-10-30|35.69|-0.01093978|34.277142857142856|
|705|2023-10-31| 36.5| 0.12838222|            34.555|
|706|2023-11-01|37.29| 0.26266424|          34.85125|
|707|2023-11-02| 37.7| 0.35505436|35.332499999999996|
|708|2023-11-03|38.14| 0.42045134|          35.77625|
|709|2023-11-06|37.95| 0.42661296|          36.41625|
|710|2023-11-07|38.77| 0.45754678| 37.19749999999999|
|711|2023-11-08|37.92| 0.39191314|            37.495|
|712|2023-11-09| 37.8| 0.32115718|          37.75875|
|713|2023-11-10|38.86| 0.32531548| 38.05375000000001|
|714|2023-11-13|38.23| 0.26711512| 38.17125000000001|
|715|2023-11-14|39.41| 0.29065243|38.385000000000005|
|716|2023-11-15|40.61| 0.36876838|          38.69375|
|717|2023-11-16|43.35| 0.56365622|          39.36875|
+---+----------+-----+-----------+------------------+
only showing top 20 rows

### User Defined Functions (UDF)

In [103]:
# Register a python function as UDF
def categorize_vol(volume):
    return "High" if volume > 1e7 else "Low"

In [104]:
vol_udf = udf(categorize_vol, StringType())
df = df.withColumn("Volume_Category", vol_udf(col("Volume")))

In [105]:
df.show(20)

+---+----------+------+------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+------------------+------------------+---------------+
| id|      date|  open|  high|    low|close|     volume|     vol_fiat|             sma10|             sma20|             sma30|             sma50|            sma100|            sma200|            sma400|            sma500|sma1000|ema10|ema20|ema30|ema50|ema100|ema200|ema400|ema500|ema1000|      macd1|macd2|macd3|macd4|        Daily_Return|           7Day_MA|          27Day_MA|Volume_Category|
+---+----------+------+------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+------------------+------------------+---------------+
|698|2023-10-20| 35.65| 36.28|  34.87|34.92|3.2303325E7|1697832000000|            36.103|           35.6825| 36.14033333333334|            35.567|34.458800000000004|31.644000000000002|        34.2888875|37.564949999999996|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.06714202|    0|    0|    0|-0.02047685834502095|             34.92|             34.92|           High|
|699|2023-10-23|  34.6| 35.19|  33.39|33.85|5.3924661E7|1698091200000|            35.882|           35.6605| 35.98233333333334|           35.5462|34.494499999999995|           31.6775|        34.2513375|          37.52429|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| -0.1609627|    0|    0|    0|-0.02167630057803468|34.385000000000005|34.385000000000005|           High|
|700|2023-10-24| 33.64| 34.71|  33.64|34.59|5.2673857E7|1698177600000|            35.698|           35.6985|             35.84|           35.5244|34.545300000000005|          31.71585|        34.2179875|          37.48585|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.16319102|    0|    0|    0| 0.02824019024970282| 34.45333333333334| 34.45333333333334|           High|
|701|2023-10-25| 34.18| 34.45|  32.55|32.83|4.4658462E7|1698264000000|            35.293|35.609500000000004|            35.644|           35.4856|34.583600000000004|          31.74605|        34.1798875|          37.44463|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.25736174|    0|    0|    0|-0.03949678174370981|           34.0475|           34.0475|           High|
|702|2023-10-26| 32.89| 33.22| 32.145|32.52|5.9049509E7|1698350400000|34.861000000000004|           35.4765|            35.439|           35.4654|           34.6348|          31.77645|        34.1419875|          37.40533|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.31912054|    0|    0|    0|-0.01124961994527...|33.742000000000004|33.742000000000004|           High|
|703|2023-10-27| 34.66| 36.38|   34.6|35.54|8.4128212E7|1698436800000|            34.818|            35.476|            35.361|           35.5246|           34.7002|             31.82|        34.1120875|          37.37189|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| -0.1429245|    0|    0|    0| 0.02538949798038092|34.041666666666664|34.041666666666664|           High|
|704|2023-10-30|35.465| 36.05|  34.92|35.69|3.6656425E7|1698696000000|            34.731|           35.4875| 35.28433333333333|35.583400000000005|           34.7475|           31.8686|        34.0822375|          37.33547|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.01093978|    0|    0|    0| 0.00634428309600999|34.277142857142856|34.277142857142856|           High|
|705|2023-10-31| 35.66| 36.57|  35.62| 36.5|4.1185207E7|1698782400000|            34.775|35.528000000000006| 35.28966666666667|           35.6506|           34.7997|31.920650000000002|        34.0568375|          37.29955|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.12838222|    0|    0|    0|0.023555804823331562|            34.555|            34.555|           High|
|706|2023-11-01|  36.5|37.315|  36.28|37.29|4.1710705E7|1698868800000|             34.94|35.596000000000004|35.376333333333335|           35.7386|           34.8544|           31.9774|        34.0354875|37.265190000000004|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.26266424|    0|    0|    0| 0.02164383561643833|          34.85125| 34.85888888888889|           High|
|707|2023-11-02| 37.58| 37.82|  36.91| 37.7|3.5439964E7|1698955200000|            35.143|           35.6865|35.477999999999994|            35.813|            34.918|           32.0382|        34.0187375|          37.23017|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.35505436|    0|    0|    0|0.003193187865886231|35.332499999999996|            35.143|           High|
|708|2023-11-03|  38.0| 38.32| 37.665|38.14|3.0502744E7|1699041600000|35.464999999999996|35.784000000000006|             35.61|            35.924|           34.9687|          32.09785|        34.0020625|          37.19571|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.42045134|    0|    0|    0|0.003684210526315...|          35.77625|35.415454545454544|           High|
|709|2023-11-06| 38.02|  38.2| 37.855|37.95|2.3877203E7|1699304400000|            35.875|           35.8785|            35.732|            36.018|           35.0091|          32.15545|        33.9803625|          37.15961|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.42661296|    0|    0|    0|-0.00184113624408...|          36.41625|35.626666666666665|           High|
|710|2023-11-07| 38.24|  38.9|  37.98|38.77|3.2052041E7|1699390800000|            36.293| 35.99550000000001| 35.89666666666667|            36.121|            35.041|32.215650000000004|        33.9594375|          37.13823|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.45754678|    0|    0|    0|0.013859832635983293| 37.19749999999999| 35.86846153846154|           High|
|711|2023-11-08| 38.85| 38.89|37.7492|37.92| 3.348336E7|1699477200000|            36.802|           36.0475|            36.007|36.193200000000004|            35.062|          32.26685|33.935612500000005|          37.11525|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.39191314|    0|    0|    0|-0.02393822393822393|            37.495|            36.015|           High|
|712|2023-11-09| 38.05|38.515|  37.77| 37.8|4.8938771E7|1699563600000|             37.33|           36.0955| 36.09433333333333|           36.2586|           35.0763|          32.31805|33.911637500000005|          37.09429|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.32115718|    0|    0|    0|-0.00657030223390276|          37.75875|            36.134|           High|
|713|2023-11-10| 38.24| 38.99|  38.24|38.86|3.8871279E7|1699650000000|            37.662|             36.24| 36.20466666666667|            36.333|           35.1149|           32.3687|        33.8878125|          37.07623|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.32531548|    0|    0|    0|0.016213389121338843| 38.05375000000001|         36.304375|           High|
|714|2023-11-13| 38.35|38.565|  38.14|38.23|2.4558261E7|1699909200000|37.916000000000004|           36.3235|36.297000000000004|           36.3654|           35.1682|           32.4133|        33.8627125|          37.05653|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.26711512|    0|    0|    0|-0.00312907431551...| 38.17125000000001| 36.41764705882353|           High|
|715|2023-11-14|  38.8| 39.49|  38.07|39.41|4.5457362E7|1699995600000|            38.207|            36.491| 36.42100000000001|           36.4194|           35.2352|          32.46315|        33.8321875|37.037349999999996|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.29065243|    0|    0|    0|0.015721649484536068|38.385000000000005|36.583888888888886|           High|
|716|2023-11-15|39.585| 40.84|  39.58|40.61|4.7392143E7|1700082000000|            38.539|           36.7395|            36.577|            36.492|           35.3113|          32.51695|        33.8041375|          37.01947|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.36876838|    0|    0|    0| 0.02589364658330172|          38.69375| 36.79578947368421|           High|
|717|2023-11-16|  41.0|43.395|  40.82|43.35|8.6388194E7|1700168400000|            39.104|           37.1235| 36.82566666666666|           36.5954|           35.4114|          32.58225|        33.7837375|37.006449999999994|    0.0|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.56365622|    0|    0|    0|0.057317073170731744|          39.36875|           37.1235|           High|
+---+----------+------+------+-------+-----+-----------+-------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+--------------------+------------------+------------------+---------------+
only showing top 20 rows

In [106]:
df.select("date", "close", "volume", "Volume_Category").show(20)

+----------+-----+-----------+---------------+
|      date|close|     volume|Volume_Category|
+----------+-----+-----------+---------------+
|2025-06-06|20.06|7.0072846E7|           High|
|2025-06-05|19.99|7.2595606E7|           High|
|2025-06-04|20.25|7.1166549E7|           High|
|2025-06-02|19.74|6.7885473E7|           High|
|2025-05-29|20.25|6.6485207E7|           High|
|2025-05-27|20.55|6.9504564E7|           High|
|2025-05-23|20.05|6.8206064E7|           High|
|2025-05-21|20.69|6.2904697E7|           High|
|2025-05-19|21.38|6.4279077E7|           High|
|2025-05-16|21.66|5.5795144E7|           High|
|2025-05-15|21.55|6.6705457E7|           High|
|2025-05-14|21.52|9.1584827E7|           High|
|2025-05-12|22.18|9.4578691E7|           High|
|2025-05-09|21.42|5.1768565E7|           High|
|2025-05-08| 21.0|7.1651698E7|           High|
|2025-05-07|20.31|6.1134293E7|           High|
|2025-05-06|19.94|5.1330772E7|           High|
|2025-05-05|20.27|4.4236981E7|           High|
|2025-05-02|20.62|6.3298512E7|           High|
|2025-04-30| 20.1|6.8297323E7|           High|
+----------+-----+-----------+---------------+
only showing top 20 rows

### Performance Optimization

In [107]:
# Cache frequently used dataframes
df.cache()

DataFrame[id: int, date: date, open: double, high: double, low: double, close: double, volume: double, vol_fiat: bigint, sma10: double, sma20: double, sma30: double, sma50: double, sma100: double, sma200: double, sma400: double, sma500: double, sma1000: double, ema10: int, ema20: int, ema30: int, ema50: int, ema100: int, ema200: int, ema400: int, ema500: int, ema1000: int, macd1: double, macd2: int, macd3: int, macd4: int, Daily_Return: double, 7Day_MA: double, 27Day_MA: double, Volume_Category: string]

In [108]:
# Repartition fo better parallelism
df = df.repartition(40)

In [109]:
df

DataFrame[id: int, date: date, open: double, high: double, low: double, close: double, volume: double, vol_fiat: bigint, sma10: double, sma20: double, sma30: double, sma50: double, sma100: double, sma200: double, sma400: double, sma500: double, sma1000: double, ema10: int, ema20: int, ema30: int, ema50: int, ema100: int, ema200: int, ema400: int, ema500: int, ema1000: int, macd1: double, macd2: int, macd3: int, macd4: int, Daily_Return: double, 7Day_MA: double, 27Day_MA: double, Volume_Category: string]

In [110]:
# Check execution plan

In [111]:
df.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Exchange RoundRobinPartitioning(40), REPARTITION_BY_NUM, [plan_id=1042]
   +- InMemoryTableScan [id#142, date#143, open#144, high#145, low#146, close#147, volume#148, vol_fiat#149L, sma10#150, sma20#151, sma30#152, sma50#153, sma100#154, sma200#155, sma400#156, sma500#157, sma1000#158, ema10#159, ema20#160, ema30#161, ema50#162, ema100#163, ema200#164, ema400#165, ... 10 more fields]
         +- InMemoryRelation [id#142, date#143, open#144, high#145, low#146, close#147, volume#148, vol_fiat#149L, sma10#150, sma20#151, sma30#152, sma50#153, sma100#154, sma200#155, sma400#156, sma500#157, sma1000#158, ema10#159, ema20#160, ema30#161, ema50#162, ema100#163, ema200#164, ema400#165, ... 10 more fields], StorageLevel(disk, memory, deserialized, 1 replicas)
               +- AdaptiveSparkPlan isFinalPlan=false
                  +- Project [id#142, date#143, open#144, high#145, low#146, close#147, volume#148, vol_fiat#149L, sma10#150, sma20#151, sma30#152, sma50#153, sma100#154, sma200#155, sma400#156, sma500#157, sma1000#158, ema10#159, ema20#160, ema30#161, ema50#162, ema100#163, ema200#164, ema400#165, ... 10 more fields]
                     +- BatchEvalPython [categorize_vol(Volume#148)#4209], [pythonUDF0#4442]
                        +- Window [avg(Close#147) windowspecdefinition(Date#143 ASC NULLS FIRST, specifiedwindowframe(RowFrame, -7, currentrow$())) AS 7Day_MA#3781, avg(Close#147) windowspecdefinition(Date#143 ASC NULLS FIRST, specifiedwindowframe(RowFrame, -27, currentrow$())) AS 27Day_MA#3976], [Date#143 ASC NULLS FIRST]
                           +- Sort [Date#143 ASC NULLS FIRST], false, 0
                              +- Exchange SinglePartition, ENSURE_REQUIREMENTS, [plan_id=1031]
                                 +- Project [id#142, date#143, open#144, high#145, low#146, close#147, volume#148, vol_fiat#149L, sma10#150, sma20#151, sma30#152, sma50#153, sma100#154, sma200#155, sma400#156, sma500#157, sma1000#158, ema10#159, ema20#160, ema30#161, ema50#162, ema100#163, ema200#164, ema400#165, ... 7 more fields]
                                    +- FileScan csv [id#142,date#143,open#144,high#145,low#146,close#147,volume#148,vol_fiat#149L,sma10#150,sma20#151,sma30#152,sma50#153,sma100#154,sma200#155,sma400#156,sma500#157,sma1000#158,ema10#159,ema20#160,ema30#161,ema50#162,ema100#163,ema200#164,ema400#165,... 6 more fields] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/c:/saad/workspace/numpy_pandas_Pyspark_tutorials/pyspark/intc.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<id:int,date:date,open:double,high:double,low:double,close:double,volume:double,vol_fiat:bi...

### Saving Results

In [112]:
# Save results to parque format

In [113]:
df.write.parquet("INTC_parque.parquet")

In [114]:
#Exporint to csv
df.write.csv("INTC_after.csv", header=True)

#Write to a Database:
df.write \
  .format("jdbc") \
  .option("url", "jdbc:postgresql://localhost/stocks") \
  .option("dbtable", "intc_data") \
  .option("user", "user") \
  .option("password", "password") \
  .save()

# Section 10 03 PySpark basic data frame operations select(), filter(), withColumn()

In [115]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [116]:
import findspark
findspark.init(r'C:\python311\Lib\site-packages\pyspark')

In [117]:
spark = SparkSession.builder.appName("DFO").getOrCreate()

In [118]:
data = [("Ali", 34, "NY"),
        ("Saad", 45, "CA"),
        ("Cathy", 29, "TX"),
        ("David", 52, "NY")]

In [123]:
df = spark.createDataFrame(data, ['name', 'age', 'state'])
df.show(3)

+-----+---+-----+
| name|age|state|
+-----+---+-----+
|  Ali| 34|   NY|
| Saad| 45|   CA|
|Cathy| 29|   TX|
+-----+---+-----+
only showing top 3 rows

### Select

In [122]:
df.select("name").show()

+-----+
| name|
+-----+
|  Ali|
| Saad|
|Cathy|
|David|
+-----+

In [125]:
#multiple columns
df.select("name", "age").show()

+-----+---+
| name|age|
+-----+---+
|  Ali| 34|
| Saad| 45|
|Cathy| 29|
|David| 52|
+-----+---+

In [132]:
#select with column expressions
df.select(col("name"), (col("age") + 2 )).show()

+-----+---------+
| name|(age + 2)|
+-----+---------+
|  Ali|       36|
| Saad|       47|
|Cathy|       31|
|David|       54|
+-----+---------+

In [131]:
#using aliases
df.select(col("name").alias("full_name"), (col("age") *2).alias("double_age")).show()

+---------+----------+
|full_name|double_age|
+---------+----------+
|      Ali|        68|
|     Saad|        90|
|    Cathy|        58|
|    David|       104|
+---------+----------+

##### Advanced
###### Dynamic column selection

In [134]:
columns_to_select = ['name', 'age']
df.select(*columns_to_select).show()

+-----+---+
| name|age|
+-----+---+
|  Ali| 34|
| Saad| 45|
|Cathy| 29|
|David| 52|
+-----+---+

In [135]:
columns_to_select = ['name', 'age']
df.select(columns_to_select).show()

+-----+---+
| name|age|
+-----+---+
|  Ali| 34|
| Saad| 45|
|Cathy| 29|
|David| 52|
+-----+---+

In [136]:
# regex
df.select(df.colRegex("`(name|age)`")).show()

+-----+---+
| name|age|
+-----+---+
|  Ali| 34|
| Saad| 45|
|Cathy| 29|
|David| 52|
+-----+---+

### Filter() - Row operations

In [137]:
df.filter(col("age")>30).show()

+-----+---+-----+
| name|age|state|
+-----+---+-----+
|  Ali| 34|   NY|
| Saad| 45|   CA|
|David| 52|   NY|
+-----+---+-----+

In [138]:
# Alternative
df.where("age > 30").show()

+-----+---+-----+
| name|age|state|
+-----+---+-----+
|  Ali| 34|   NY|
| Saad| 45|   CA|
|David| 52|   NY|
+-----+---+-----+

In [139]:
# Multiple conditions
df.filter((col("age") > 30) & (col("state") == "NY")).show()

+-----+---+-----+
| name|age|state|
+-----+---+-----+
|  Ali| 34|   NY|
|David| 52|   NY|
+-----+---+-----+

In [140]:
#Using SQL Expressions
df.filter("age > 30 and state = 'NY'").show()

+-----+---+-----+
| name|age|state|
+-----+---+-----+
|  Ali| 34|   NY|
|David| 52|   NY|
+-----+---+-----+

In [141]:
# Dynamic filtering 
min_age = 35
max_age = 63
df.filter(col("age").between(min_age, max_age)).show()

+----+---+-----+
|name|age|state|
+----+---+-----+
| Ali| 34|   NY|
|Saad| 45|   CA|
+----+---+-----+

In [142]:
# Filter with user defined function
def is_high_age(age):
    return age > 40

high_age_udf = udf(is_high_age, BooleanType())
df.filter(high_age_udf(col("age"))).show()

+-----+---+-----+
| name|age|state|
+-----+---+-----+
| Saad| 45|   CA|
|David| 52|   NY|
+-----+---+-----+

# withcolumn - Column Transformation

In [143]:
df.withColumn("age_plus_10", col("age")+10).show()

+-----+---+-----+-----------+
| name|age|state|age_plus_10|
+-----+---+-----+-----------+
|  Ali| 34|   NY|         44|
| Saad| 45|   CA|         55|
|Cathy| 29|   TX|         39|
|David| 52|   NY|         62|
+-----+---+-----+-----------+

In [145]:
#you can with pandas but not pyspark
df.withColumn("age_plus_11", df("age")+11).show()

TypeError: 'DataFrame' object is not callable

In [147]:
#Modify existing column
df.withColumn("age", col("age") * 2).show()

+-----+---+-----+
| name|age|state|
+-----+---+-----+
|  Ali| 68|   NY|
| Saad| 90|   CA|
|Cathy| 58|   TX|
|David|104|   NY|
+-----+---+-----+

In [148]:
df.show()

+-----+---+-----+
| name|age|state|
+-----+---+-----+
|  Ali| 34|   NY|
| Saad| 45|   CA|
|Cathy| 29|   TX|
|David| 52|   NY|
+-----+---+-----+

### conditional columns:

In [149]:
df.withColumn("age_group", 
    when(col("age") < 30, "young")
    .when(col("age").between(30, 50), "middle")
    .otherwise("senior")).show()

+-----+---+-----+---------+
| name|age|state|age_group|
+-----+---+-----+---------+
|  Ali| 34|   NY|   middle|
| Saad| 45|   CA|   middle|
|Cathy| 29|   TX|    young|
|David| 52|   NY|   senior|
+-----+---+-----+---------+

In [150]:
# Multiple transformation in one pass
from pyspark.sql.functions import log, round
transformations = [
    ("log_age", log("age")),
    ("age_squared", col("age")**2),
    ("rounded_age", round(col("age"), -1))  #round it to the nearest 10
]

In [151]:
result_df = df

In [152]:
for new_col, expr in transformations:
    result_df = result_df.withColumn(new_col, expr)

In [153]:
result_df.show()

+-----+---+-----+------------------+-----------+-----------+
| name|age|state|           log_age|age_squared|rounded_age|
+-----+---+-----+------------------+-----------+-----------+
|  Ali| 34|   NY|3.5263605246161616|     1156.0|         30|
| Saad| 45|   CA|3.8066624897703196|     2025.0|         50|
|Cathy| 29|   TX| 3.367295829986474|      841.0|         30|
|David| 52|   NY|3.9512437185814275|     2704.0|         50|
+-----+---+-----+------------------+-----------+-----------+

In [154]:
# chaing multiple operations
processed_df = (df
    .select("name", "age", "state")
    .filter(col("state").isin(["NY", "CA"]))
    .withColumn("age_decade", floor(col("age") / 10) * 10)
    .withColumn("is_senior", col("age") >= 50)
)

processed_df.show()

+-----+---+-----+----------+---------+
| name|age|state|age_decade|is_senior|
+-----+---+-----+----------+---------+
|  Ali| 34|   NY|        30|    false|
| Saad| 45|   CA|        40|    false|
|David| 52|   NY|        50|     true|
+-----+---+-----+----------+---------+

# Section 10 03 group by agg

In [155]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

import findspark
findspark.init(r'C:\python311\Lib\site-packages\pyspark')

spark = SparkSession.builder.appName("DFO").getOrCreate()

In [156]:
spark.stop()

In [157]:
spark = SparkSession.builder.appName("DFO").getOrCreate()

In [158]:
spark = SparkSession.builder.appName("INTC_AGG").getOrCreate()

In [159]:
intc = spark.read.csv("../pyspark/intc.csv", header=True, inferSchema=True)

In [160]:
#check schema:
intc.printSchema()

root
 |-- id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: double (nullable = true)
 |-- vol_fiat: long (nullable = true)
 |-- sma10: double (nullable = true)
 |-- sma20: double (nullable = true)
 |-- sma30: double (nullable = true)
 |-- sma50: double (nullable = true)
 |-- sma100: double (nullable = true)
 |-- sma200: double (nullable = true)
 |-- sma400: double (nullable = true)
 |-- sma500: double (nullable = true)
 |-- sma1000: double (nullable = true)
 |-- ema10: integer (nullable = true)
 |-- ema20: integer (nullable = true)
 |-- ema30: integer (nullable = true)
 |-- ema50: integer (nullable = true)
 |-- ema100: integer (nullable = true)
 |-- ema200: integer (nullable = true)
 |-- ema400: integer (nullable = true)
 |-- ema500: integer (nullable = true)
 |-- ema1000: integer (nullable = true)
 |-- macd1: double (nullable = true)
 |-- macd2: integer (nullable = true)
 |-- macd3: integer (nullable = true)
 |-- macd4: integer (nullable = true)

In [161]:
#Basic Aggregation
intc.agg(max("Close")).show()

+----------+
|max(Close)|
+----------+
|      50.5|
+----------+

In [162]:
# multiple aggregations
intc.agg(min("Low").alias("Min_Low"),
         max("High").alias("Max_High"),
         avg("Close").alias("Avg_Close"),
         sum("Volume").alias("Total_vol")
        ).show()

+-------+--------+------------------+---------------+
|Min_Low|Max_High|         Avg_Close|      Total_vol|
+-------+--------+------------------+---------------+
| 17.665| 50.5699|30.518465753424653|2.3345099785E10|
+-------+--------+------------------+---------------+

In [163]:
# Do yearly aggregations
# Extract year from date first
intc = intc.withColumn("Year", year("Date"))

In [164]:
intc.show(5)

+----+----------+------+------+-------+-----+-----------+-------------+------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+----+
|  id|      date|  open|  high|    low|close|     volume|     vol_fiat| sma10|             sma20|             sma30|             sma50|            sma100|            sma200|            sma400|            sma500|           sma1000|ema10|ema20|ema30|ema50|ema100|ema200|ema400|ema500|ema1000|      macd1|macd2|macd3|macd4|Year|
+----+----------+------+------+-------+-----+-----------+-------------+------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+----+
|1278|2025-06-06| 20.17| 20.44|  20.03|20.06|7.0072846E7|1749240000000|20.462|20.676499999999997|            20.456|           21.1798|21.120500000000003|22.942600000000002|           31.0254|31.321240000000003|37.588480000000004|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.04534034|    0|    0|    0|2025|
|1277|2025-06-05| 20.27| 20.55|  19.85|19.99|7.2595606E7|1749153600000|20.611|            20.699|            20.505|21.253200000000003|21.156399999999998|          22.99775|31.061574999999998|          31.33984|          37.63046|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.04716657|    0|    0|    0|2025|
|1275|2025-06-04| 20.34|  20.5|  20.01|20.25|7.1166549E7|1749067200000|20.764|            20.702|20.442999999999998|           21.3152|           21.2052|23.050900000000002|31.097375000000003|          31.35792|          37.67395|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.03510595|    0|    0|    0|2025|
|1273|2025-06-02|19.482| 19.82|19.3745|19.74|6.7885473E7|1748894400000|20.957|20.764000000000003|20.420333333333335|           21.3806|           21.2477|23.102800000000002|           31.1308|          31.37368|          37.71933|    0|    0|    0|    0|     0|     0|     0|     0|      0|-0.03566972|    0|    0|    0|2025|
|1271|2025-05-29| 20.54|20.595|   20.1|20.25|6.6485207E7|1748548800000|21.125|           20.8065|            20.424|           21.4712|           21.2947|23.159000000000002|         31.164575|31.391119999999997|37.763349999999996|    0|    0|    0|    0|     0|     0|     0|     0|      0| 0.02194437|    0|    0|    0|2025|
+----+----------+------+------+-------+-----+-----------+-------------+------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+------+------+------+------+-------+-----------+-----+-----+-----+----+
only showing top 5 rows

In [165]:
yearly_stats = intc.groupBy("Year").agg(
    first("Close").alias("Jan_Price"),
    last("Close").alias("Dec_Price"),
    avg("Close").alias("Avg_Price"),
    sum("Volume").alias("Total_Volume")
).orderBy("Year")
yearly_stats.show()

+----+---------+---------+------------------+--------------+
|Year|Jan_Price|Dec_Price|         Avg_Price|  Total_Volume|
+----+---------+---------+------------------+--------------+
|2023|    50.25|    34.92| 41.54893617021276| 1.960247514E9|
|2024|    19.82|     47.8|31.511814345991553|1.408886331E10|
|2025|    20.06|    20.22|21.211604938271606| 7.295988961E9|
+----+---------+---------+------------------+--------------+

In [166]:
#Monthly averages:
monthly_avg = intc.groupBy(
    year("Date").alias("Year"), 
    month("Date").alias("Month")
).agg(
    avg("Close").alias("Avg_Close"),
    sum("Volume").alias("Total_Volume")
).orderBy("Year", "Month")
monthly_avg.show(24)

+----+-----+------------------+-------------+
|Year|Month|         Avg_Close| Total_Volume|
+----+-----+------------------+-------------+
|2023|   10|            34.555| 4.04579658E8|
|2023|   11| 41.13333333333333| 8.07556258E8|
|2023|   12|45.142222222222216| 7.48111598E8|
|2024|    1|46.885238095238094|1.002832671E9|
|2024|    2|            43.186| 8.15660611E8|
|2024|    3|43.483999999999995| 9.49138659E8|
|2024|    4| 36.52545454545455|1.241166952E9|
|2024|    5| 30.82333333333333| 9.47468056E8|
|2024|    6| 30.65736842105263| 7.12844253E8|
|2024|    7| 32.63285714285714|1.048182623E9|
|2024|    8| 20.81142857142857|1.906818806E9|
|2024|    9| 21.15157894736842|2.035310324E9|
|2024|   10|  22.7378947368421| 9.40239814E8|
|2024|   11|             24.43|1.089341252E9|
|2024|   12| 20.54777777777778|1.399859289E9|
|2025|    1| 20.21058823529412|1.135664962E9|
|2025|    2|22.540714285714284| 1.57880076E9|
|2025|    3|22.950000000000003|1.420453362E9|
|2025|    4|20.081875000000004|1.895884854E9|
|2025|    5|20.892666666666667| 9.83464549E8|
|2025|    6|20.009999999999998| 2.81720474E8|
+----+-----+------------------+-------------+

In [167]:
#Volatility Calculation:
daily_returns = intc.withColumn("Daily_Return", 
                               (col("Close") - lag("Close", 1).over(Window.orderBy("Date"))) / 
                               lag("Close", 1).over(Window.orderBy("Date")))

volatility = daily_returns.groupBy("Year").agg(
    stddev("Daily_Return").alias("Annual_Volatility"),
    count("Daily_Return").alias("Trading_Days")
)

volatility.show()

+----+--------------------+------------+
|Year|   Annual_Volatility|Trading_Days|
+----+--------------------+------------+
|2023|0.026209718507047335|          46|
|2024|0.033091863046939875|         237|
|2025|  0.0511010158188029|          81|
+----+--------------------+------------+

In [169]:
# Rolling Aggregations:
window_30d = Window.orderBy("Date").rowsBetween(-29, 0)

intc_rolling = intc.withColumn("30D_Avg", avg("Close").over(window_30d)) \
                  .withColumn("30D_Min", min("Low").over(window_30d)) \
                  .withColumn("30D_Max", max("High").over(window_30d))

intc_rolling.select("Date", "Close", "30D_Avg", "30D_Min", "30D_Max").show(30)

+----------+-----+------------------+-------+-------+
|      Date|Close|           30D_Avg|30D_Min|30D_Max|
+----------+-----+------------------+-------+-------+
|2023-10-20|34.92|             34.92|  34.87|  36.28|
|2023-10-23|33.85|34.385000000000005|  33.39|  36.28|
|2023-10-24|34.59| 34.45333333333334|  33.39|  36.28|
|2023-10-25|32.83|           34.0475|  32.55|  36.28|
|2023-10-26|32.52|33.742000000000004| 32.145|  36.28|
|2023-10-27|35.54|34.041666666666664| 32.145|  36.38|
|2023-10-30|35.69|34.277142857142856| 32.145|  36.38|
|2023-10-31| 36.5|            34.555| 32.145|  36.57|
|2023-11-01|37.29| 34.85888888888889| 32.145| 37.315|
|2023-11-02| 37.7|            35.143| 32.145|  37.82|
|2023-11-03|38.14|35.415454545454544| 32.145|  38.32|
|2023-11-06|37.95|35.626666666666665| 32.145|  38.32|
|2023-11-07|38.77| 35.86846153846154| 32.145|   38.9|
|2023-11-08|37.92|            36.015| 32.145|   38.9|
|2023-11-09| 37.8|            36.134| 32.145|   38.9|
|2023-11-10|38.86|         36.304375| 32.145|  38.99|
|2023-11-13|38.23| 36.41764705882353| 32.145|  38.99|
|2023-11-14|39.41|36.583888888888886| 32.145|  39.49|
|2023-11-15|40.61| 36.79578947368421| 32.145|  40.84|
|2023-11-16|43.35|           37.1235| 32.145| 43.395|
|2023-11-17|43.81| 37.44190476190476| 32.145|  43.81|
|2023-11-20|44.74| 37.77363636363636| 32.145|  44.93|
|2023-11-21|43.64| 38.02869565217391| 32.145|  44.93|
|2023-11-22|43.67|38.263749999999995| 32.145|  44.93|
|2023-11-24|43.96|           38.4916| 32.145|  44.93|
|2023-11-27|44.08|38.706538461538464| 32.145|  44.93|
|2023-11-28|44.23|38.911111111111104| 32.145|  44.93|
|2023-11-29|44.94| 39.12642857142857| 32.145|  45.34|
|2023-11-30| 44.7| 39.31862068965517| 32.145|  45.34|
|2023-12-01|43.74|            39.466| 32.145|  45.34|
+----------+-----+------------------+-------+-------+
only showing top 30 rows

In [170]:
#pivot analysis
monthly_pivot = intc.groupBy("Year") \
                   .pivot("Month") \
                   .agg(last("Close").alias("Month_Close")) \
                   .orderBy("Year")

monthly_pivot.show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Month` cannot be resolved. Did you mean one of the following? [`date`, `high`, `id`, `low`, `open`].;
'Project ['Month]
+- Project [id#7521, date#7522, open#7523, high#7524, low#7525, close#7526, volume#7527, vol_fiat#7528L, sma10#7529, sma20#7530, sma30#7531, sma50#7532, sma100#7533, sma200#7534, sma400#7535, sma500#7536, sma1000#7537, ema10#7538, ema20#7539, ema30#7540, ema50#7541, ema100#7542, ema200#7543, ema400#7544, ... 7 more fields]
   +- Relation [id#7521,date#7522,open#7523,high#7524,low#7525,close#7526,volume#7527,vol_fiat#7528L,sma10#7529,sma20#7530,sma30#7531,sma50#7532,sma100#7533,sma200#7534,sma400#7535,sma500#7536,sma1000#7537,ema10#7538,ema20#7539,ema30#7540,ema50#7541,ema100#7542,ema200#7543,ema400#7544,... 6 more fields] csv

In [171]:
# Define custom aggregation (drawdown calculation)
def max_drawdown_udf(values):
    peak = values[0]
    max_dd = 0
    for value in values:
        if value > peak:
            peak = value
        dd = (peak - value)/peak
        if dd > max_dd:
            max_dd = dd
    return float(max_dd)

spark.udf.register("max_drawdown", max_drawdown_udf)

yearly_drawdown = intc.groupBy("Year") \
                     .agg(expr("max_drawdown(Close)").alias("Max_Drawdown"))

yearly_drawdown.show()

AnalysisException: [MISSING_AGGREGATION] The non-aggregating expression "Close" is based on columns which are not participating in the GROUP BY clause.
Add the columns or the expression to the GROUP BY, aggregate the expression, or use "any_value(Close)" if you do not care which of the values within a group is returned.;
Aggregate [Year#7708], [Year#7708, max_drawdown(Close#7526)#8514 AS Max_Drawdown#8513]
+- Project [id#7521, date#7522, open#7523, high#7524, low#7525, close#7526, volume#7527, vol_fiat#7528L, sma10#7529, sma20#7530, sma30#7531, sma50#7532, sma100#7533, sma200#7534, sma400#7535, sma500#7536, sma1000#7537, ema10#7538, ema20#7539, ema30#7540, ema50#7541, ema100#7542, ema200#7543, ema400#7544, ... 7 more fields]
   +- Relation [id#7521,date#7522,open#7523,high#7524,low#7525,close#7526,volume#7527,vol_fiat#7528L,sma10#7529,sma20#7530,sma30#7531,sma50#7532,sma100#7533,sma200#7534,sma400#7535,sma500#7536,sma1000#7537,ema10#7538,ema20#7539,ema30#7540,ema50#7541,ema100#7542,ema200#7543,ema400#7544,... 6 more fields] csv

In [172]:
from pyspark.sql import functions as F
from pyspark.sql.types import FloatType
import pandas as pd

# Better approach: Use Pandas UDF for custom aggregation
@pandas_udf(FloatType(), F.PandasUDFType.GROUPED_AGG)
def max_drawdown_pandas(close_pd: pd.Series) -> float:
    peak = close_pd[0]
    max_dd = 0.0
    for value in close_pd:
        if value > peak:
            peak = value
        dd = (peak - value)/peak
        if dd > max_dd:
            max_dd = dd
    return max_dd

# Register the function
spark.udf.register("max_drawdown_pandas", max_drawdown_pandas)

# Now run the aggregation correctly
yearly_drawdown = intc.groupBy("Year") \
                     .agg(max_drawdown_pandas(col("Close")).alias("Max_Drawdown"))

yearly_drawdown.show()

C:\python311\Lib\site-packages\pyspark\sql\pandas\functions.py:399: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

+----+------------+
|Year|Max_Drawdown|
+----+------------+
|2023|   0.3560396|
|2024|  0.27900764|
|2025|   0.3026652|
+----+------------+

In [173]:
spark.stop()

# Section 10 05 spark.sql()

In [174]:
from pyspark.sql import SparkSession

In [175]:
#initialize our spark
spark = SparkSession.builder.appName("SQL_class").enableHiveSupport().getOrCreate()

In [177]:
df = spark.createDataFrame([
    (1, "Alice", 34, "NY"),
    (2, "Bob", 45, "CA"),
     (3, "Cathy", 29, "TX"),
     (4, "David", 52, "NY")
     ], ["id", "name", 'age', 'state'])

In [178]:
df.show()

+---+-----+---+-----+
| id| name|age|state|
+---+-----+---+-----+
|  1|Alice| 34|   NY|
|  2|  Bob| 45|   CA|
|  3|Cathy| 29|   TX|
|  4|David| 52|   NY|
+---+-----+---+-----+

In [179]:
# Create a temp view
df.createOrReplaceTempView("people")

In [180]:
df.show()

+---+-----+---+-----+
| id| name|age|state|
+---+-----+---+-----+
|  1|Alice| 34|   NY|
|  2|  Bob| 45|   CA|
|  3|Cathy| 29|   TX|
|  4|David| 52|   NY|
+---+-----+---+-----+

In [181]:
# Basic SQL
df.select("name", "age").show()
# select name, age from df

+-----+---+
| name|age|
+-----+---+
|Alice| 34|
|  Bob| 45|
|Cathy| 29|
|David| 52|
+-----+---+

In [183]:
#SQL 
spark.sql("select name, age FROM people;").show()

+-----+---+
| name|age|
+-----+---+
|Alice| 34|
|  Bob| 45|
|Cathy| 29|
|David| 52|
+-----+---+

In [184]:
spark.sql("select name, age FROM people").show()

+-----+---+
| name|age|
+-----+---+
|Alice| 34|
|  Bob| 45|
|Cathy| 29|
|David| 52|
+-----+---+

In [186]:
#Aggregations in 
#DF:
df.groupBy("state").agg(avg("age"), count("*")).show()

+-----+--------+--------+
|state|avg(age)|count(1)|
+-----+--------+--------+
|   NY|    43.0|       2|
|   CA|    45.0|       1|
|   TX|    29.0|       1|
+-----+--------+--------+

In [187]:
#SQL
spark.sql("""
    SELECT state, AVG(age) as avg_age, COUNT(*) as count
    FROM people
    GROUP BY state
    """).show()

+-----+-------+-----+
|state|avg_age|count|
+-----+-------+-----+
|   NY|   43.0|    2|
|   CA|   45.0|    1|
|   TX|   29.0|    1|
+-----+-------+-----+

In [188]:
# CTE, joins

In [189]:
spark.sql("""
WITH ny_residents AS (
    SELECT * FROM people WHERE state = 'NY'
) 
SELECT AVG(age) as ny_avg_age FROM ny_residents
""").show()

+----------+
|ny_avg_age|
+----------+
|      43.0|
+----------+

In [190]:
#joins

In [191]:
# create a second table:
depts = spark.createDataFrame([
    (1, "Engineering"),
    (2, "Marketing")
], ["id", "dept_name"])

depts.createOrReplaceTempView("departments")

In [192]:
#people, departments
#people 
# departments:
#1   engineering
#2 Marketing

In [194]:
#SQL Join:
spark.sql("""
SELECT P.name, d.dept_name FROM people p
JOIN departments d ON p.id = d.id 
""").show()

+-----+-----------+
| name|  dept_name|
+-----+-----------+
|Alice|Engineering|
|  Bob|  Marketing|
+-----+-----------+

In [195]:
# select * from table 100 order by date limit 100

In [196]:
#Window Functions
spark.sql("""
Select name, age, state, AVG(age) OVER (PARTITION BY state) as state_avg_age,
RANK() OVER (ORDER BY age DESC) as age_rank
FROM people
""").show()

+-----+---+-----+-------------+--------+
| name|age|state|state_avg_age|age_rank|
+-----+---+-----+-------------+--------+
|  Bob| 45|   CA|         45.0|       2|
|David| 52|   NY|         43.0|       1|
|Alice| 34|   NY|         43.0|       3|
|Cathy| 29|   TX|         29.0|       4|
+-----+---+-----+-------------+--------+

In [197]:
#Pivoting:
spark.sql("""
    SELECT * FROM (
        SELECT state, name, age 
        FROM people
    )
    PIVOT (
        AVG(age) FOR state IN ('NY', 'CA', 'TX')
    )
""").show()

+-----+----+----+----+
| name|  NY|  CA|  TX|
+-----+----+----+----+
|  Bob|NULL|45.0|NULL|
|Alice|34.0|NULL|NULL|
|David|52.0|NULL|NULL|
|Cathy|NULL|NULL|29.0|
+-----+----+----+----+

In [198]:
# JSON Processing:
json_df = spark.createDataFrame([('{"name": "Alice", "age": 34}',)], ['json_str'])
json_df.createOrReplaceTempView("json_data")

spark.sql("""
    SELECT 
        get_json_object(json_str, '$.name') as name,
        get_json_object(json_str, '$.age') as age
    FROM json_data
""").show()

+-----+---+
| name|age|
+-----+---+
|Alice| 34|
+-----+---+

In [199]:
#Caching tables
spark.sql("CACHE TABLE people")

DataFrame[]

In [200]:
# Partitioning:
spark.sql("""
    CREATE TABLE partitioned_people
    USING parquet
    PARTITIONED BY (state)
    AS SELECT * FROM people
""")

DataFrame[]

In [201]:
#Explain plans
spark.sql("EXPLAIN EXTENDED SELECT * FROM people WHERE age > 30").show(truncate=False)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|plan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|== Parsed Logical Plan ==\n'Project [*]\n+- 'Filter ('age > 30)\n   +- 'UnresolvedRelation [people], [], false\n\n== Analyzed Logical Plan ==\nid: bigint, name: string, age: bigint, state: string\nProject [id#8562L, name#8563, age#8564L, state#8565]\n+- Filter (age#8564L > cast(30 as bigint))\n   +- SubqueryAlias people\n      +- View (`people`, [id#8562L,name#8563,age#8564L,state#8565])\n         +- LogicalRDD [id#8562L, name#8563, age#8564L, state#8565], false\n\n== Optimized Logical Plan ==\nFilter (isnotnull(age#8564L) AND (age#8564L > 30))\n+- InMemoryRelation [id#8562L, name#8563, age#8564L, state#8565], StorageLevel(disk, memory, deserialized, 1 replicas)\n      +- *(1) Scan ExistingRDD[id#8562L,name#8563,age#8564L,state#8565]\n\n== Physical Plan ==\nAdaptiveSparkPlan isFinalPlan=false\n+- Filter (isnotnull(age#8564L) AND (age#8564L > 30))\n   +- Scan In-memory table people [id#8562L, name#8563, age#8564L, state#8565], [isnotnull(age#8564L), (age#8564L > 30)]\n         +- InMemoryRelation [id#8562L, name#8563, age#8564L, state#8565], StorageLevel(disk, memory, deserialized, 1 replicas)\n               +- *(1) Scan ExistingRDD[id#8562L,name#8563,age#8564L,state#8565]\n|
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [202]:
#SQL Functions reference
#DATA functions
spark.sql("""
    SELECT 
        current_date() as today,
        date_add(current_date(), 7) as next_week,
        year(current_date()) as current_year
    FROM people LIMIT 1
""").show()

+----------+----------+------------+
|     today| next_week|current_year|
+----------+----------+------------+
|2025-06-08|2025-06-15|        2025|
+----------+----------+------------+

In [204]:
#string functions
spark.sql("""
    SELECT 
        name,
        upper(name) as uppercase,
        substring(name, 1, 3) as first_3_chars,
        concat(name, ' from ', state) as description
    FROM people
""").show()

+-----+---------+-------------+-------------+
| name|uppercase|first_3_chars|  description|
+-----+---------+-------------+-------------+
|Alice|    ALICE|          Ali|Alice from NY|
|  Bob|      BOB|          Bob|  Bob from CA|
|Cathy|    CATHY|          Cat|Cathy from TX|
|David|    DAVID|          Dav|David from NY|
+-----+---------+-------------+-------------+

In [205]:
#conditional logic
spark.sql("""
    SELECT 
        name,
        age,
        CASE 
            WHEN age < 30 THEN 'Young'
            WHEN age BETWEEN 30 AND 50 THEN 'Middle-aged'
            ELSE 'Senior'
        END as age_group
    FROM people
""").show()

+-----+---+-----------+
| name|age|  age_group|
+-----+---+-----------+
|Alice| 34|Middle-aged|
|  Bob| 45|Middle-aged|
|Cathy| 29|      Young|
|David| 52|     Senior|
+-----+---+-----------+

In [206]:
#Real world Example Data pipeline:
# End-to-end data processing
spark.sql("""
    -- Clean data
    WITH cleaned_data AS (
        SELECT 
            id,
            trim(name) as name,
            age,
            upper(state) as state
        FROM people
        WHERE age IS NOT NULL
    ),
    
    -- Enrich with age groups
    with_age_groups AS (
        SELECT *,
            CASE 
                WHEN age < 30 THEN '18-29'
                WHEN age < 40 THEN '30-39'
                WHEN age < 50 THEN '40-49'
                ELSE '50+'
            END as age_bracket
        FROM cleaned_data
    ),
    
    -- Final aggregation
    final_report AS (
        SELECT 
            state,
            age_bracket,
            COUNT(*) as count,
            AVG(age) as avg_age
        FROM with_age_groups
        GROUP BY state, age_bracket
    )
    
    -- Final output
    SELECT * FROM final_report
    ORDER BY state, age_bracket
""").show()

+-----+-----------+-----+-------+
|state|age_bracket|count|avg_age|
+-----+-----------+-----+-------+
|   CA|      40-49|    1|   45.0|
|   NY|      30-39|    1|   34.0|
|   NY|        50+|    1|   52.0|
|   TX|      18-29|    1|   29.0|
+-----+-----------+-----+-------+

In [207]:
spark.stop()

# Section 10 06: PySpark RDDs quick intro map(), collect()

In [208]:
#RDDs : Resilient Distributed Datasets are pysparks fundamental data structure:
#Immutable
#Distributed across cluster
#Fault-tolerant (can recover from failures)
#Lazy-evaluated

In [221]:
from pyspark.sql import SparkSession
#start a sparksession:
spark = SparkSession.builder.appName("RDDDemo").master("local[*]").getOrCreate()
sc = spark.sparkContext

In [223]:
#
numbers = [1, 2, 3, 4, 5]
numbers_rdd = sc.parallelize(numbers)
print(numbers_rdd.collect())

[1, 2, 3, 4, 5]

In [225]:
#create a text file:
with open("sample.txt", "w") as f:
    f.write("first line\nsecond line\nthird line")

text_rdd = sc.textFile('sample.txt')
print(text_rdd.collect())

['first line', 'second line', 'third line']

In [226]:
# Transformations with mape

In [227]:
squared_rdd = numbers_rdd.map(lambda x: x ** 2)
print(squared_rdd.collect())

[1, 4, 9, 16, 25]

In [228]:
# Chain transformations
processed = (numbers_rdd
            .map(lambda x: x * 10)  # Multiply by 10
            .filter(lambda x: x > 20)  # Keep > 20
            .map(lambda x: x + 1))  # Add 1

print(processed.collect())  # [31, 41, 51]

[31, 41, 51]

In [229]:
# collect() brings all data to driver (use carefully)
small_rdd = sc.parallelize(range(5))
print(small_rdd.collect())  # [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [230]:
print(numbers_rdd.take(3))  # [1, 2, 3]

[1, 2, 3]

In [231]:
print(text_rdd.first())

first line

In [232]:
print(numbers_rdd.count())

5

In [233]:
#MapPartitions:
def expensive_transform(iterator):
    print("Initializing expensive resource...")
    yield [x * 100 for x in iterator]

result = numbers_rdd.mapPartitions(expensive_transform)
print(result.collect())  # [100, 200, 300, 400, 500]

[[100, 200, 300, 400, 500]]

In [234]:
# Create key-value pairs
pairs = sc.parallelize([("a", 1), ("b", 2), ("a", 3)])

# Reduce by key
sums = pairs.reduceByKey(lambda a, b: a + b)
print(sums.collect())  # [('a', 4), ('b', 2)]

[('a', 4), ('b', 2)]

In [235]:
# Create sample text file
with open("words.txt", "w") as f:
    f.write("hello world hello spark hello python")

# Word count pipeline
word_counts = (sc.textFile("words.txt")
              .flatMap(lambda line: line.split(" "))  # Split into words
              .map(lambda word: (word, 1))  # Create pairs
              .reduceByKey(lambda a, b: a + b))  # Sum counts

print(word_counts.collect())  
# [('hello', 3), ('world', 1), ('spark', 1), ('python', 1)]

[('hello', 3), ('world', 1), ('spark', 1), ('python', 1)]

In [236]:
spark.stop()